<main>
  <div class="mt-40 text-center text-success">
    <h1>
      <i class="far fa-check-circle"></i>
      Success!
    </h1>
  </div>
  <div class="mt-40 text-center">
    <div class="mt-20 text-center text-secondary border-placeholder">
      <h2>Purchase Info</h2>
      <p> Total Amount: CAD $<span class="amount" data-amount="{{amount}}"></span></p>
      <p> Charge Id: {{id}}</p>
    </div>
  </div>
</main>